{% extends 'student/student_layout.html' %}
{% load static %}
{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">

            <div class="row justify-content-center">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-center mb-4">Apply Leave</h4>
                            <form class="forms-sample" method="POST" action="{% url 'add_leave' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputPassword4">Leave Type</label>
                                    <select name="leave_type" class="form-control">
                                        <option value="" disabled selected>Select Type</option>
                                        <option value="medical" name="leave">Medical</option>
                                        <option value="personal" name="leave">Personal</option>
                                        <option value="academic" name="leave">Academic</option>
                                        <option value="others" name="leave">Others </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword4">Start Date</label>
                                    <input type="date" name="start_date" class="form-control"
                                        id="exampleInputPassword4" placeholder="Start date">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword4">End Date</label>
                                    <input type="date" name="end_date" class="form-control"
                                        id="exampleInputPassword4" placeholder="End date">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputConfirmPassword1">Reason</label>
                                    <textarea name="reason" class="form-control"  placeholder="Enter your reason" rows="5"></textarea>
                                </div>
                                <div class="text-center mt-4">
                                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                                    <button type="reset" class="btn btn-light">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% endblock %}