{% extends 'admin/admin_layout.html' %}
{% load static %}
{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">

            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Department List</h4>

                        </p>
                        <div class="table-responsive">
                            <table class="table" >
                                <thead>
                                    <tr>
                                        <th>Department Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for d in departments %}
                                    <tr>
                                        <td>{{ d.department_name }}</td>
                                        <td>
                                            <div class="template-demo">
                                                <a href="">Assign HOD</a> |
                    
                                                <a href="{% url 'edit_department' d.department_id %}">Edit</a> |
                                                <a href="{% url 'delete_department' d.department_id %}">Delete</a>

                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add Department</h4>

                        <form class="forms-sample" method="post" action="{% url 'add_department' %}">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Department
                                    Name</label>
                                <div class="col-sm-9">
                                    <input type="text" name="dept_name" class="form-control" id="exampleInputUsername2"
                                        placeholder="Department Name"  required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Add</button>
                            <button type="reset" class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- content-wrapper ends -->


    {% endblock %}