{% extends 'hod/hod_layout.html' %}
{% load static %}
{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">

            <div class="row justify-content-center">
                <div class="col-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-center mb-4">Change Password</h4>
                            {% if error %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                    {% endif %}
                            <form class="forms-sample" method="POST" action="{% url 'hod_update_password' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputPassword4">New Password</label>
                                    <input type="password" name="new_password" class="form-control"
                                        id="exampleInputPassword4" placeholder="New Password">
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputPassword4">Confirm Password</label>
                                    <input type="password" name="confirm_password" class="form-control"
                                        id="exampleInputPassword4" placeholder="Confirm Password">
                                </div>
                                <div class="text-center mt-4">
                                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                                    <button type="reset" class="btn btn-light">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}